<div class="fh5co-loader"></div>

<div id="page">
  <nav class="fh5co-nav" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div id="fh5co-logo">
            <a href="index.html">Wedding<strong>.</strong></a>
          </div>
        </div>
        <div class="col-xs-10 text-right menu-1">
          <ul>
            <li class="active"><a href="">Home</a></li>
            <li><a href="wedding/invitation">Invitation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <header
    id="fh5co-header"
    class="fh5co-cover"
    role="banner"
    style="background-image: url(assets/images/img_bg_2.jpg)"
    data-stellar-background-ratio="0.5"
  >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeIn">
              <h1 style="font-family: 'Dancing Script' !important">
                Trọng Khang &amp; Huyền Hanh
              </h1>
              <h2>We Are Getting Married</h2>
              <div
                class="simply-countdown simply-countdown-one"
                id="simply-countdown-losange"
              ></div>
              <p>
                <a href="/invitation" class="btn btn-default btn-sm"
                  >Save the date</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="fh5co-couple">
    <div class="container">
      <div class="row">
        <div
          class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box"
        >
          <h2>Hello!</h2>
          <h3>December 24th, 2023 Bac Giang</h3>
          <p>We invited you to celebrate our wedding</p>
        </div>
      </div>
      <div class="couple-wrap animate-box">
        <div class="couple-half">
          <div class="groom">
            <img
              src="assets/images/groom.jpg"
              alt="groom"
              class="img-responsive"
            />
          </div>
          <div class="desc-groom">
            <h3 style="font-family: 'Dancing Script' !important">
              Trọng Khang
            </h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove
            </p>
          </div>
        </div>
        <p class="heart text-center"><i class="icon-heart2"></i></p>
        <div class="couple-half">
          <div class="bride">
            <img
              src="assets/images/bride.jpg"
              alt="groom"
              class="img-responsive"
            />
          </div>
          <div class="desc-bride">
            <h3 style="font-family: 'Dancing Script' !important">Huyền Hanh</h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="fh5co-event"
    class="fh5co-bg"
    style="background-image: url(assets/images/img_bg_3.jpg)"
  >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div
          class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box"
        >
          <span>Our Special Events</span>
          <h2>Wedding Events</h2>
        </div>
      </div>
      <div class="row">
        <div class="display-t">
          <div class="display-tc">
            <div class="col-md-10 col-md-offset-1">
              <div class="col-md-6 col-sm-6 text-center">
                <div class="event-wrap animate-box">
                  <h3>GROOM'S HOUSE</h3>
                  <div class="event-col">
                    <i class="icon-clock"></i>
                    <span>15:00 PM</span>
                  </div>
                  <div class="event-col">
                    <i class="icon-calendar"></i>
                    <span>Sunday 24</span>
                    <span>December, 2023</span>
                  </div>
                  <p style="font-size: 15px !important;">
                    Ông Đào Trọng Xuân<br />
                    Bà Tạ Thị Chung<br />
                    Trung Tâm Văn Hoá Tổ Dân Phố Tự - TT Bích Động <br /><i
                      class="icon-location-pin"
                    ></i
                    ><br />
                  </p>
                  <div class="qr-container d-flex justify-content-center">
                    <img
                      src="assets/images/QR_groom.png"
                      alt="groom_house"
                      class="img-responsive qr-img"
                    />
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 text-center">
                <div class="event-wrap animate-box">
                  <h3>BRIDE'S HOUSE</h3>
                  <div class="event-col">
                    <i class="icon-clock"></i>
                    <span>9:00 AM</span>
                  </div>
                  <div class="event-col">
                    <i class="icon-calendar"></i>
                    <span>Monday 25</span>
                    <span>December, 2023</span>
                  </div>
                  <p style="font-size: 15px !important;">
                    Ông Thân Đức Nguyên<br />
                    Bà Trần Thị Hồng<br />
                    Xóm Chùa, Đức Liễn, Hồng Thái, Việt Yên<br />
                    <i class="icon-location-pin"></i><br />
                  </p>
                  <div class="qr-container d-flex justify-content-center">
                    <img
                      src="assets/images/QR_bride.png"
                      alt="QR_bride"
                      class="img-responsive qr-img"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-gallery" class="fh5co-section-gray">
    <div class="container">
      <div class="row">
        <div
          class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box"
        >
          <span>Our Memories</span>
          <h2>Wedding Gallery</h2>
          <p>
            <!-- Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. -->
          </p>
        </div>
      </div>
      <div class="row row-bottom-padded-md">
        <div class="col-md-12">
          <ul id="fh5co-gallery-list">
            <li
              *ngFor="let item of list"
              class="one-third animate-box"
              data-animate-effect="fadeIn"
              [style]="styleBackGround(item)"
            >
              <a [href]="href(item)"> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div
    id="fh5co-counter"
    class="fh5co-bg fh5co-counter"
    style="background-image: url(assets/images/img_bg_5.jpg)"
  >
    <div class="overlay"></div>
  </div>

  <div id="fh5co-services" class="fh5co-section-gray">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>We Offer Services</h2>
          <p>
            <!-- Dignissimos asperiores vitae velit veniam totam fuga molestias
            accusamus alias autem provident. Odit ab aliquam dolor eius. -->
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 animate-box">
          <div
            class="fh5co-video fh5co-bg"
            style="background-image: url(assets/images/img_bg_3.jpg)"
          >
            <a
              type="button"
              class="btn-play mx-auto"
              data-toggle="modal"
              data-src="https://www.youtube.com/embed/y6PtDlMnBvI"
              data-target="#videoModal"
            >
              <i class="icon-video2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Video Modal Start -->
  <div
    class="modal fade"
    id="videoModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              class="embed-responsive-item"
              src="https://www.youtube.com/embed/y6PtDlMnBvI"
              id="video"
              allowscriptaccess="always"
              allow="autoplay"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Video Modal End -->
  <!-- Footer Start -->
  <div
    class="container-fluid bg-dark text-white py-5"
    id="contact"
    style="margin-top: 90px"
  >
    <div class="container text-center py-5">
      <div class="fh5co-heading section-title position-relative text-center">
        <h2 class="text-white">Thank You</h2>
        <i class="far fa-heart text-white"></i>
      </div>
    </div>
  </div>
  <!-- Footer End -->
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
