.bg-dark {
  background-color: #121f38 !important;
}

a.bg-dark:hover,
a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #060a11 !important;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text-white {
  color: #fff !important;
}

.section-title {
  margin-bottom: 30px;
}

.section-title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  bottom: 11px;
  left: calc(50% - 80px);
  background: #e47a2e;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  bottom: 11px;
  right: calc(50% - 80px);
  background: #e47a2e;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.position-relative {
  position: relative !important;
}
.qr-container{
  display: flex;
  justify-content: center;
  .qr-img{
    max-width: 50% !important;
  }
}